// Global styles goes here

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
}

body{
    font-family: $font-family;
    overflow: hidden;
}

.overflow-hidden{
    overflow: hidden;
}

.overflow-auto{
    overflow: auto;
}

ul,li {
    list-style: none;
}

a {
    text-decoration: none;
}

.h-100{
    height: 100%;
}

.img-fluid{
    max-width: 100%;
    height: auto;
    border-radius: 100%;
    border: 2px solid $light;
}

.text-light{
    color: $light;
}

.text-dark{
    color: $dark-gray;
}

.text-muted{
    color: $text-muted;
}